h3 {
    margin: 10px 10px 0px 8px;
    font-size: 12px;
    text-align: center;
    font-weight: 700;
}

.App{
    padding: 10px;
    margin: 10px;
}
.menuInfo, .menuName, .menuPrice {
    display: flex;
    width: 100%;
}

input{
    width: 100px;
    font-size: 12px;
}
